<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .}}

<!--二级导航-->
{{template "secondmenu" .secondactive}}

<!--    中间部分-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <!--查询表单-->
        <form action="#" method="post" class="ui form segment">
            <div class="inline fields m-magin-tb-tiny">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                {{range .types}}
                                <div class="item" data-value="{{.ID}}">{{.Name}}</div>
                                {{end}}
                            </div>
                        </div>
                        <a id="clear-btn" class="ui compact mini basic blue button">清除</a>
                    </div>

                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-buttun" class="ui blue button">
                        <i class="search icon"></i>
                        搜索
                    </button>
                </div>
                <div class="field">
                    <a href="/admin/blogs/input" class="ui blue button">
                        <i class="add icon"></i>
                        新增
                    </a>
                </div>
            </div>

        </form>

        <!--表格-->
        <div id="table-container">
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>发表时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{range $i, $blog := .blogs}}
                <tr>
                    <td>{{add $i 1}}</td>
                    <td>{{$blog.Title}}</td>
                    <td>{{$blog.Type.Name}}</td>
                    {{if $blog.Recommend}}
                    <td>是</td>
                    {{else}}
                    <td>否</td>
                    {{end}}
                    <td>{{$blog.CreateTime.Format "2006-01-02 15:04"}}</td>
                    <td>{{$blog.UpdateTime.Format "2006-01-02 15:04"}}</td>
                    <td>
                        <a href="/admin/blogs/{{.ID}}/input" class="ui mini teal basic button">编辑</a>
                        <a href="/admin/blogs/{{.ID}}/delete" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                {{end}}
                </tbody>
                
            </table>

            <!--操作提示-->
            {{if gt (len .notice) 0}}
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p >{{.notice}}</p>
            </div>
            {{end}}
        </div>

    </div>

</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}

<!--顶部导航栏菜单按钮的显示与隐藏-->
<script language="JavaScript" type="text/javascript">
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;

    //给表单中的page赋值
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    //搜索按钮的click方法
    $("#search-buttun").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    //清除按钮
    $('#clear-btn').on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;


    function loaddata() {
        $("#table-container").load("/admin/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            published : $("[name='published']").prop('checked'),
            page : $("[name='page']").val()
        });
    }

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });



</script>
</body>
</html>