<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">


{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .}}

<!--二级导航-->
{{template "secondmenu" .secondactive}}
<!--    中间部分-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container m-padded-tb-huge center aligned">

        <div class="ui message success large m-padded-tb-huge">
            <h2>你好，</h2>
            <p>邓依伦，欢迎登陆！</p>

        </div>

    </div>


</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}

<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;


</script>
</body>
</html>