<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .}}

<!--    中间部分-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">

        <!--操作提示-->
        {{if gt (len .notice) 0}}
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p>{{.notice}}</p>
        </div>
        {{end}}

        <!--表格-->
        <table class="ui celled table">
            <thead>
            <tr>
                <th>序号</th>
                <th>标签名称</th>
                <th>操作<a href="/admin/tags/input" class="mini middle aligned ui  left floated blue button">新增</a></th>
            </tr>
            </thead>
            <tbody>
            {{range $i, $tag := .tags}}
            <tr>
                <td>{{$i}}</td>
                <td>{{$tag.Name}}</td>
                <td>
                    <a href="/admin/tags/{{$tag.ID}}/input" class="ui  blue label">编辑</a>
                    <a href="/admin/tags/{{$tag.ID}}/delete" class="ui  red label">删除</a>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
<!--    footer-->
{{template "footer" .}}
{{template "script"}}
<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        })
    ;

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>