<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

    <!--aboutme中左侧个人介绍-->
    <div th:fragment="aboutme">
        <header class="typo">
            <h1 class="typo " style="text-align:center">关于我</h1>
        </header>
        <div class="typo"><div class="typo" ></div>
            <h2>我是谁:</h2>
            <p><strong>Allan</strong> <strong>华中科技大学</strong> <strong>研究生</strong><br>
                热爱新鲜事物，热爱阅读，热爱生活，热爱折腾，热爱一切<br>
                学习之路漫长，与诸君共勉！</p>
            <hr>
            <h2>联系我:</h2>
            <p><strong>邮箱：</strong>allandeng97@foxmail.com<br>
                <strong>网站：</strong>https://allandeng.cn</p>
            <p>期待和您交流学习经验，期待和您交流生活的惊喜。</p>
            <hr>

        </div>
    </div>

</body>
</html>