<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .active}}

<!--    中间部分-->
<!--分类条目-->
<div class="m-padded-tb-big m-container fadeIn">
    <div class="ui container">

        <div class="ui stackable grid">
            <!--左侧展示-->
            <div class="eleven wide column">
                <div class="ui segment m-shadow-small fadeIn ">
                    {{template "aboutme"}}
                </div>
            </div>
            <!--右边：卡片-->
            <div class="five wide column">
                <!--自我介绍-->
                <div class="m-shadow-small fadeIn " >
                    <div class="fadeIn">
                        <div class="ui top attached segment fadeIn center aligned">
                            <a href="/about">
                                <img src="{{.massage.About.Avatar}}" alt="" class="ui circular image" style="margin: 0 auto;max-width: 60px">
                            </a>

                            <a class="ui header center aligned" href="/about"  style="margin-top: 0.5em !important;">
                                {{.massage.About.Name}}
                            </a>
                        </div>

                        <!--介绍-->
                        <div class="ui  attached segment">
                            <p class="m-text" >{{.massage.About.ParaOne}}</p>
                            <p class="m-text" >{{.massage.About.ParaTwo}}</p>
                        </div>

                        <!--兴趣爱好-->
                        <div class="ui  attached segment">
                            {{range .massage.About.Hobby}}
                            <div class="ui orange basic label" >{{.}}</div>
                            {{end}}
                        </div>

                        <!--技术标签-->
                        <div class="ui  attached segment">
                            {{range .massage.About.Stack}}
                            <div class="ui blue basic left pointing label m-magin-tb-samll ">{{.}}</div>
                            {{end}}
                        </div>

                        <!--链接-->
                        <div class="ui  bottom attached segment center aligned">
                            <a href="{{.massage.Index.Githublink}}" class="ui circular icon button">
                                <i class="github icon"></i>
                            </a>

                            <a href="#" class="ui email circular icon button" data-content="{{.massage.Index.Email}}" data-position="bottom center">
                                <i class="envelope outline icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}


<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.email').popup();


</script>
</body>
</html>