<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(关于我)">
    <meta charset="UTF-8">
    <!--    移动端缩放设置-->
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>关于我</title>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--    导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: menu(5)">
    <div class="ui container ">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue theader item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide m-magin-top-tiny"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide m-magin-top-tiny"><i class="idea icon"></i>分类</a>
            <a href="#" class=" m-item item m-mobile-hide m-magin-top-tiny"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide m-magin-top-tiny"><i class="clipboard icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide m-magin-top-tiny"><i class="info icon"></i>关于我</a>
            <div class="m-item right item  m-mobile-hide m-magin-top-tiny">
                <div class="ui icon inverted transparent input">
                    <label>
                        <input type="text" placeholder="搜索">
                    </label>
                    <i class="search link  icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="m-menu ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--    中间部分-->
<!--分类条目-->
<div class="m-padded-tb-big m-container fadeIn">
    <div class="ui container">

        <div class="ui stackable grid">
            <!--左侧展示-->
            <div class="eleven wide column">
                <div class="ui segment m-shadow-small fadeIn ">
                    <div  th:replace="_fragments-aboutme :: aboutme">
                    </div>
                </div>
            </div>
            <!--右侧介绍-->
            <div class="five wide column">
                <!--自我介绍-->
                <div class="m-shadow-small fadeIn " th:with="stacks = #{about.stack} , hobbys = #{about.hobby}">
                    <div class="fadeIn">
                        <div class="ui top attached segment fadeIn">
                            <div class="ui header center aligned">
                                关于我
                            </div>
                        </div>

                        <!--介绍-->
                        <div class="ui  attached segment">
                            <p class="m-text" th:text="#{about.paraOne}">这个地方放我的自我介绍,我的自我介绍,这个地方放我的自我介绍,我的自我介绍</p>
                            <p class="m-text" th:text="#{about.paraTwo}">这个地方放我的自我介绍,我的自我介绍,这个地方放我的自我介绍,我的自我介绍 </p>
                        </div>

                        <!--兴趣爱好-->
                        <div class="ui  attached segment">
                            <div class="ui orange basic label" th:each="hobby : ${#strings.listSplit(hobbys,',')}" th:text="${hobby}">编程</div>
                            <!--/*-->
                            <div class="ui orange basic label">阅读</div>
                            <div class="ui orange basic label">思考</div>
                            <div class="ui orange basic label">运动</div>
                            <!--*/-->
                        </div>

                        <!--技术标签-->
                        <div class="ui  attached segment">
                            <div class="ui blue basic left pointing label m-magin-tb-samll " th:each="stack : ${#strings.listSplit(stacks,',')}" th:text="${stack}">Java</div>
                            <!--/*-->
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <div class="ui blue basic left pointing label m-magin-tb-samll">Java</div>
                            <!--*/-->
                        </div>

                        <!--链接-->
                        <div class="ui  bottom attached segment center aligned">
                            <a href="https://github.com/allandengcn" class="ui circular icon button">
                                <i class="github icon"></i>
                            </a>

                            <a href="#" class="ui email circular icon button" data-content="allandeng97@foxmail.com" data-position="bottom center">
                                <i class="envelope outline icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive" th:replace="_fragments :: footer">
    <div class="ui center aligned container">
        <!--            与BootStrap不同 水平空间划分为16份-->
        <div class="ui inverted divided stackable grid" >
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/01.jpg" class="ui rounded image" alt="" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced">最新博客</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-opacity-mini">
                    <a href="#" class="item m-white">用户故事</a>
                    <a href="#" class="item m-white">用户故事</a>
                    <a href="#" class="item m-white">用户故事</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced">联系我</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced m-opacity-mini">
                    <a href="#" class="item m-white">Email：allandeng97@foxmail.com</a>
                    <a href="#" class="item m-white">Github：allandengcn</a>
                </div>
            </div>
            <div class="six wide column">
                <h4 class="ui inverted header m-text-spaced">AllanDeng</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini  m-white">这是我的个人博客。这是我的个人博客。这是我的个人博客。这是我的个人博客。</p>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui center aligned container m-text-thin m-text-spaced m-opacity-mini">
        Copyright © 2020 Allan Deng . Designed by <a href="https://allandeng.cn" class="item m-white">Allan Deng</a> .
        <br>
        <a href="http://www.miitbeian.gov.cn/" class="item  m-white">鄂ICP备 19011531号</a>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.email').popup();


</script>
</body>
</html>