<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .active}}

<!--    中间部分-->
<div class="m-padded-tb-big m-container-tiny">

    <div class="ui container">
        <!--头部-->
        <div class="ui top attached padded  segment m-shadow-small animated fadeIn">
            <div class="ui middle aligned two column grid">
                <div class="column ">
                    <h3 class="ui blue header">归档</h3>
                </div>
                <div class="right aligned column ">
                    共
                    <div class="ui brown header m-inline-block m-text-thin" >{{.count}}</div>
                    篇
                </div>
            </div>
        </div>
        <!--content-->
        {{range .archive}}   
        <h2 class="ui header center aligned inverted m-text-archives-header animated fadeIn" >{{.Year}}</h2>        
        <div class="ui fluid vertical menu m-shadow-small animated fadeIn">
            {{range .Blogs}}
            <a target="_blank" class="item" href="/blog/{{.ID}}">
                    <span >
                        <i class=" blue circle icon m-magin-lr-small"></i><span class="m-magin-lr-small m-text-archive">{{.Title}}</span>
                    </span>

                <div class="ui blue basic label left" >{{.CreateTime.Format "01"}}月{{.CreateTime.Format "02"}}日</div>
                <div class="ui orange basic label left" >{{.Flag}}</div>
            </a>
            {{end}}
        </div>
        {{end}}



    </div>


</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}

<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


</script>
</body>
</html>