<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .active}}

<!--    中间部分：左侧文章列表 ，右侧卡片-->
<div class="m-padded-tb-large animated fadeIn m-shadow-small">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="two wide column">
            </div>

            <div class="eleven wide column">
                <div class="ui top attached segment m-shadow-small">
                    <!--文章标题-->
                    <div class="m-padded-header">
                        <h1 class="ui header center aligned" style="font-size: 30px ; font-weight: 300">
                            {{.blog.Title}}
                        </h1>
                    </div>

                    <!--文章信息-->
                    <div class="ui basic segment m-padded-tb-tiny m-magin-top-tiny center aligned">
                        <!--头部-->
                        <div class="ui  middle aligned horizontal link list " style="font-size: 10px">
                            <!--发布日期-->
                            <div class="item middle aligned">
                                <i class="small calendar icon"></i>
                                <span></span>{{.blog.CreateTime.Format "2006-01-02"}}</span>
                            </div>
                            <!--评论-->
                            <div class="item middle aligned">
                                <i class="small comment alternate outline icon"></i>
                                <span>{{len .blog.Comments}}条评论</span>
                            </div>
                            <!--阅读数-->
                            <div class="item middle aligned">
                                <i class="small eye icon"></i>
                                <span>{{.blog.Views}}次阅读</span>
                            </div>
                            <!--点赞-->
                            <!--<div class="item middle aligned">-->
                            <!--    <i class="small heart outline icon"></i>23次点赞-->
                            <!--</div>-->
                            <!--flag类型-->
                            <div class="item">
                                <div class="ui orange horizontal small  label very basic">{{.blog.Flag}}</div>
                            </div>
                        </div>
                    </div>

                    <!--文章内容，原型阶段使用HTML-->
                    <div id="content " class=" js-toc-content m-padded-lr-reponsive m-padded-tb typo typo-selection">
                        {{.blog.Content | htmltext}}
                        <!--占位内容-->
                    </div>

                    <!--标签-->
                    <div class="m-padded-lr-reponsive m-padded-tb ">
                        <i class=" tags icon"></i>
                        {{range .blog.Tags}}
                        <div class="ui small basic blue left pointing label">{{.Name}}</div>
                        {{end}}
                        
                    </div>

                    <!--赞赏-->
                    {{if .blog.Appreciation}}
                    <div id="payBotton" class="ui center aligned basic segment m-magin-top-small">
                        <button class="ui orange basic circular button">赞赏</button>
                    </div>
                    <div id="payQR" class="ui flowing popup transition hidden">
                        <div class="ui orange basic label">
                            <div class="ui images" style="font-size: inherit !important;">
                                <div class="image center aligned">
                                    <img src="{{.massage.Blog.Alipay}}" alt="" class="ui rounded bordered image" style="width: 120px">
                                    <div style="" class="center aligned">支付宝</div>
                                </div>
                                <div class="image">
                                    <img src="{{.massage.Blog.Wechat}}" class="ui rounded bordered image" style="width: 120px">
                                    <div>微信</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}

                    <!--博客信息-->
                    {{if .blog.ShareStatement}}
                    <div class="ui attached positive message m-padded-tb-small">
                        <div class="ui middle aligned grid center aligned">
                            <div class="fifteen wide column">
                                <ui class="list">
                                    <li>作者: {{.blog.User.Nickname}}</span> <a href="/about" target="_blank">(联系作者)</a></li>
                                    <li>发表时间: <span>{{.blog.CreateTime.Format "2006-01-02"}}</span></li>
                                    <li>版权声明: <span></span>{{.massage.Blog.Copyright | htmltext}}</li>
                                </ui>
                            </div>

                        </div>
                    </div>
                    {{end}}

                    <!--留言区域-->
                    {{if .blog.Commentabled}}
                    <div  class="ui bottom attached segment">
                        <!--留言区域列表-->
                        <div id="comment-container"  class="ui teal segment">
                            <div th:fragment="commentList">
                                <form method="post" class="ui threaded comments" style="max-width: 100%;">
                                    <h3 class="ui dividing header">评论</h3>
                                    {{range .comments}}
                                    <div class="comment">
                                        <a class="avatar">
                                            <img src="{{.Avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author" >
                                                <span>{{.Nickname}}</span>
                                                {{if .AdminComment}}
                                                <div class="ui mini basic blue left pointing label m-padded-mini">博主</div>
                                                {{end}}
                                            </a>
                                            <div class="metadata">
                                                <span class="date">{{.CreateTime.Format "2006-01-02 15:04"}}</span>
                                            </div>
                                            <div class="text">
                                                {{.Content}}
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="{{.ID}}" data-commentnickname="{{.Nickname}}" onclick="reply(this)">回复</a>
                                                {{if $.admin}}
                                                <a href="/comments/delete/{{.ID}}">删除</a>
                                                {{end}}
                                            </div>
                                        </div>
                                        {{if gt (len .ReplyComments) 0}}
                                        <div class="comments" >                                           
                                            {{range .ReplyComments}}
                                            <div class="comment">
                                                <a class="avatar">
                                                    <img src="{{.Avatar}}" >
                                                </a>
                                                <div class="content">
                                                    <a class="author" >
                                                        <span >{{.Nickname}}</span>
                                                        {{if .AdminComment}}
                                                        <div class="ui mini basic blue left pointing label m-padded-mini">博主</div>
                                                        {{end}}
                                                        &nbsp;<span class="m-teal">@ {{.ParentComment.Nickname}}</span>
                                                    </a>
                                                    <div class="metadata">
                                                        <span class="date">{{.CreateTime.Format "2006-01-02 00:00"}}</span>
                                                    </div>
                                                    <div class="text">
                                                        {{.Content}}
                                                    </div>
                                                    <div class="actions">
                                                        <a class="reply" data-commentid="{{.ID}}" data-commentnickname="{{.Nickname}}" onclick="reply(this)">回复</a>
                                                        {{if $.admin}}
                                                        <a href="/comments/delete/{{.ID}}">删除</a>
                                                        {{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        {{end}}
                                    </div>
                                    {{end}}
    
                                </form>
                                <!--操作提示-->
                                {{if gt (len .commentmassage) 0}}
                                <div class="ui success message" >
                                    <i class="close icon"></i>
                                    <div class="header">提示：</div>
                                    <p >{{.commentmassage}}</p>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <!--留言提交区域-->
                        <div class="ui form" id="comment-form">
                            <input type="hidden" name="blog.id" value="{{.blog.ID}}">
                            <input type="hidden" name="parentComment.id" value="0"   >
                            <div class="field">
                                <textarea name="content" placeholder="请输入评论信息..." th:text="${comment} != null ? ${comment.content}"></textarea>
                            </div>
                            <div class="fields">
                                <div class="field m-mobile-wide m-magin-bottom-small">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="nickname" placeholder="昵称" th:value="${comment} != null ? ${comment.nickname}">
                                    </div>
                                </div>
                                <div class="field m-mobile-wide  m-magin-bottom-small">
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input type="text" name="email" placeholder="邮箱" th:value="${comment} != null ? ${comment.email}">
                                    </div>
                                </div>
                                <div class="field m-mobile-wide  m-magin-bottom-small">
                                    <button id="comment-button" type="button" class="ui blue labeled submit icon button m-mobile-wide">
                                        <i class="icon edit"></i>添加回复
                                    </button>
                                </div>
                            </div>
                            <div class="field m-mobile-wide  m-magin-bottom-small">
                                <div class="ui input" >
                                    <input type="text" name="captchacode" placeholder="验证码" style="max-width: 200px">
                                    <div id="captchaImg" >
                                        <div th:fragment="captcha-Img">
                                            <img  onclick="changeCaptcha()" src="data:img/png;base64, {{$.captcha}}" alt="点击更换" style="max-width: 100px">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="ui error message"></div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>    

            <div class="three wide column">
                <!--自我介绍-->
            <div class="m-fixed m-padded-tb-large" style="max-width: 200px ">
                <div class="ui header left aligned " style="color: #444" >
                    文章目录
                </div>
                <ol class="js-toc m-white">
                </ol>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<!--右侧导航-->
<div class="m-padded m-fixed m-right-bottom">
    <div class="ui vertical icon buttons">

        <a href="#comment-container" class="ui blue button">留言</a>
        <button id="wechat-button" type="button" class="ui icon blue button"><i class="qrcode icon"></i></button>
        <div id="toTop-button" class="ui icon blue button"><i class="chevron up icon"></i></div>
    </div>
</div>

<!--微信二维码-->
<div id="wechatQR" class="ui flowing popup transition hidden" style="width: 130px !important;">
    <div id="qrimg">
    </div>
</div>




<!--    footer-->
{{template "footer" .}}
{{template "script"}}


<!--顶部导航栏菜单按钮的显示与隐藏-->
<script th:inline="javascript">
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('#payBotton').popup({
        popup: $('#payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    $('#tocBotton').popup({
        popup: $('#tocArea.popup'),
        on: 'click',
        position: 'bottom center'
    });


    $('#wechat-button').popup({
        popup: $('#wechatQR.popup'),
        on: 'click',
        position: 'right center'
    });

    var serul = "https://allandeng.cn";
    var url = "/blog/{{.blog.ID}}";
    var qrcode = new QRCode("qrimg", {
        text: serul + url,
        width: 120,
        height: 120,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    //生成目录初始化
    tocbot.init({
        // 生成的目录存放的位置
        tocSelector: '.js-toc',
        // 需要生成的源
        contentSelector: '.js-toc-content',
        // 生成的目录级别
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });
    //回到顶部按钮的响应
    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 500);
    });

    //表单验证
    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'nickname',
                rules: [{
                    type : 'empty',
                    prompt: '请输入您的昵称'
                }]
            },
            content : {
                identifier: 'content',
                rules: [{
                    type : 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            typeId : {
                identifier: 'email',
                rules: [{
                    type : 'email',
                    prompt: '请输入您的邮箱'
                }]
            },
            captcha : {
                identifier: 'captchacode',
                rules: [{
                    type : 'empty',
                    prompt: '请输入验证码'
                }]
            },

        }
    });

    //提交按钮
    $('#comment-button').click(function () {
        var boo = $('.ui.form').form('validate form');
        if (boo){
            console.log('校验成功');
            postData();
            console.log('刷新完成');
            changeCaptcha()
        }else {
            console.log('校验失败');
        }
        
    })

    //获取数据
    function postData() {
        $("#comment-container").load("/comments",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val(),
            "captchacode" : $("[name='captchacode']").val(),
        },function (responseTxt, statusTxt, xhr) {
            $(window).scrollTo($('#comment-form'),200);
            clearContent();
        });
    }

    //更换验证码
    function changeCaptcha() {
       $("#captchaImg").load("/captcha");
    }

    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(0);
        $("[name='content']").attr("placeholder", "请输入评论信息...");
    }

    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),200);
    }



</script>
</body>
</html>