<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

{{template "header" .pagetitle}}
<body>
<!--导航-->
{{template "menu" .active}}


<!--    中间部分：左侧文章列表 ，右侧卡片-->
<div class="m-padded-tb-big m-container-large">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边：文章列表-->
            <div class="eleven wide column ">
                <!-- 头部-->
                <div class="ui attached segment m-shadow-small animated fadeIn">
                    <div class="ui middle aligned two column grid">
                        <div class="column ">
                            <h3 class="ui blue header">博客</h3>
                        </div>
                        <div class="right aligned column ">
                            共
                            <div class="ui brown header m-inline-block m-text-thin" >{{.page.Count}}</div>
                            篇
                        </div>
                    </div>
                </div>
                <!-- 列表-->
                <div class="ui attached segment m-shadow-small animated fadeIn">
                    <!--文章详情-->
                    {{range .blogs}}
                    <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                        <div class="ui middle aligned mobile reversed stackable grid m-magin-lr-small">
                            <div class="eleven wide column">
                                <h2 class="ui header m-magin-bottom-mini"><a href="/blog/{{.ID}}"  target="_blank" class="m-black m-text-header">{{.Title}}</a></h2>
                                <p href="/blog/{{.ID}}" target="_blank" class="m-text" >{{.Description}}...</p>
                                <!--底部栏-->
                                <div class="ui middle aligned stackable  grid ">
                                    <div class="eleven wide column ">
                                        <div class="ui small middle aligned horizontal link list ">
                                            <div class="item">
                                                <!--头像-->
                                                <img src="{{.User.Avatar}}" alt="" class="ui avatar image">
                                                <div class="content middle aligned" ><a href="#" class="header" >{{.User.Nickname}}</a></div>
                                            </div>
                                            <div class="item middle aligned">
                                                <i class=" calendar icon"></i><span class="middle aligned">{{.CreateTime.Format "2006-01-02"}}</span>
                                            </div>
                                            <div class="item middle aligned">
                                                <i class=" eye icon"></i><span class="middle aligned">{{.Views}}</span>
                                            </div>
                                            <div class="item middle aligned">
                                                <i class=" comment alternate outline icon"></i>
                                                <span class="middle aligned">{{len .Comments}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--文章标签-->
                                    <div class="right aligned five wide column">
                                        <a href="/type/{{.Type.ID}}" class="ui blue label m-padded-mini " >{{.Type.Name}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img href="/blog/{{.ID}}" target="_blank" src="{{.FirstPicture}}" alt="" class="ui image">
                                </a>                            
                            </div>
                        </div>

                    </div>
                    {{end}}
                </div>
                <!-- 底部-->
                {{if gt .page.Nums 1}}
                <div class="ui attached segment m-shadow-small">                  
                    <div class="ui middle aligned two column grid" >
                        <div class="column "> 
                            {{if .page.First}}
                            {{else}}                
                            <a href="/?page={{sub .page.Index 1}}" class="ui small blue basic button">上一页</a>     
                            {{end}}                       
                        </div>
                        <div class="right aligned column ">
                            {{if .page.Last}} 
                            {{else}}      
                            <a href="/?page={{add .page.Index 1}}" class="ui small blue basic button">下一页</a>
                            {{end}} 
                        </div>
                    </div>                    
                </div>
                {{end}}
            </div>

            <!--右边：卡片-->
            <div class="five wide column">
                <!--自我介绍-->
                <div class="m-shadow-small fadeIn " >
                    <div class="fadeIn">
                        <div class="ui top attached segment fadeIn center aligned">
                            <a href="/about">
                                <img src="{{.massage.About.Avatar}}" alt="" class="ui circular image" style="margin: 0 auto;max-width: 60px">
                            </a>

                            <a class="ui header center aligned" href="/about"  style="margin-top: 0.5em !important;">
                                {{.massage.About.Name}}
                            </a>
                        </div>

                        <!--介绍-->
                        <div class="ui  attached segment">
                            <p class="m-text" >{{.massage.About.ParaOne}}</p>
                            <p class="m-text" >{{.massage.About.ParaTwo}}</p>
                        </div>

                        <!--兴趣爱好-->
                        <div class="ui  attached segment">
                            {{range .massage.About.Hobby}}
                            <div class="ui orange basic label" >{{.}}</div>
                            {{end}}
                        </div>

                        <!--技术标签-->
                        <div class="ui  attached segment">
                            {{range .massage.About.Stack}}
                            <div class="ui blue basic left pointing label m-magin-tb-samll ">{{.}}</div>
                            {{end}}
                        </div>

                        <!--链接-->
                        <div class="ui  bottom attached segment center aligned">
                            <a href="{{.massage.Index.Githublink}}" class="ui circular icon button">
                                <i class="github icon"></i>
                            </a>

                            <a href="#" class="ui email circular icon button" data-content="{{.massage.Index.Email}}" data-position="bottom center">
                                <i class="envelope outline icon"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <!--分类卡片-->
                <div class="ui segments m-shadow-small animated fadeIn">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="/types/-1">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <div class="ui fluid vertical menu">
                            {{range .types}}
                            <a class="item"  href="/types/{{.ID}}">
                                <span >{{.Name}}</span>
                                <div class="ui blue basic label" >{{len .Blogs}}</div>
                            </a>
                            {{end}}
                            
                        </div>
                    </div>

                </div>

                <!--标签卡片-->
                <div class="ui segments m-magin-top-large m-shadow-small animated fadeIn">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a target="_blank" href="/tags/-1">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment" >
                        {{range .tags}}
                            <a class="ui blue basic label m-magin-tb-tiny" href="/tags/{{.ID}}">
                                <span>{{.Name}}</span>
                                <div class="detail">{{len .Blogs}}</div>
                            </a>
                        {{end}}
                        
                       
                    </div>

                </div>

                <!--最新推荐卡片-->
                <div class="ui segments m-magin-top-large m-shadow-small animated fadeIn">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="bookmark icon"></i>最新推荐
                            </div>
                            <div class="right aligned column">

                            </div>
                        </div>
                    </div>
                    {{range .recommands}}
                        <div class="ui segment m-black" >
                            <a href="blog/{{.ID}}" target="_blank" class="m-black" >{{.Title}}</a>
                        </div>
                    {{end}}
                 
             </div>

            </div>
        </div>
    </div>
</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}

<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.email').popup();
</script>
</body>
</html>