<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>
<!--    导航-->
{{template "menu" .active}}

<!--    中间部分-->
<!--分类条目-->
<div class="m-padded-tb-big m-container-small">
    <!--头部-->
    <div class="ui container  m-shadow-small animated fadeIn">
        <div class="ui top attached  segment ">
            <div class="ui middle aligned two column grid">
                <div class="column ">
                    <h3 class="ui blue header">标签</h3>
                </div>
                <div class="right aligned column ">
                    共
                    <div class="ui brown header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}">{{len .tags}}</div>
                    个
                </div>
            </div>
        </div>
    </div>
    <!--条目-->
    <div class="ui container  m-shadow-small animated fadeIn">
        <div class="ui attached segment m-padded-tb-large">
            {{range .tags}}
            {{if eq .ID $.activetypeid}}
            <a href="/tags/{{.ID}}" class="ui blue  label large m-magin-tb-tiny" >
                <i class="ui tags icon"></i>
                <span>{{.Name}}</span>
                <div class="detail">{{len .Blogs}}</div>
            </a>
            {{else}}
            <a href="/tags/{{.ID}}" class="ui blue  label large m-magin-tb-tiny basic" >
                <i class="ui tags icon"></i>
                <span>{{.Name}}</span>
                <div class="detail">{{len .Blogs}}</div>
            </a>
            {{end}}
            {{end}}
        </div>
    </div>

    <!--文章列表-->
    <div class="ui container m-magin-top  m-shadow-small animated fadeIn">
        <div class="ui blue attached segment">
            {{range .blogs}}
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui middle aligned mobile reversed stackable grid m-magin-lr-small">
                    <div class="eleven wide column">
                        <h2 class="ui header m-magin-bottom-mini"><a href="/blog/{{.ID}}" target="_blank" class="m-black m-text-header">{{.Title}}</a></h2>
                        <p href="/blog/{{.ID}}" target="_blank" class="m-text">{{.Description}}...</p>
                        <!--底部栏-->
                        <!--底部栏-->
                        <div class="ui middle aligned stackable  grid ">
                            <div class="eleven wide column ">
                                <div class="ui small middle aligned horizontal link list ">
                                    <div class="item">
                                        <!--头像-->
                                        <img src="{{.User.Avatar}}" alt="" class="ui avatar image">
                                        <div class="content middle aligned" ><a href="#" class="header" >{{.User.Nickname}}</a></div>
                                    </div>
                                    <div class="item middle aligned">
                                        <i class=" calendar icon"></i><span class="middle aligned">{{.CreateTime.Format "2006-01-02"}}</span>
                                    </div>
                                    <div class="item middle aligned">
                                        <i class=" eye icon"></i><span class="middle aligned">{{.Views}}</span>
                                    </div>
                                    <div class="item middle aligned">
                                        <i class=" comment alternate outline icon"></i>
                                        <span class="middle aligned">{{len .Comments}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--文章标签-->
                            <div class="right aligned five wide column">
                                <a href="/type/{{.Type.ID}}" class="ui blue label m-padded-mini " >{{.Type.Name}}</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="{{.FirstPicture}}" href="/blog/{{.ID}}" target="_blank" alt="" class="ui   image">
                        </a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

        <!-- 底部分页按钮-->
        {{if gt .page.Nums 1}}
        <div class="ui attached segment m-shadow-small">                  
            <div class="ui middle aligned two column grid" >
                <div class="column "> 
                    {{if .page.First}}                
                    <a href="/?page={{sub .page.Index 1}}" class="ui small blue basic button">上一页</a>     
                    {{end}}                       
                </div>
                <div class="right aligned column ">
                    {{if .page.Last}}     
                    <a href="/?page={{add .page.Index 1}}" class="ui small blue basic button">下一页</a>
                    {{end}} 
                </div>
            </div>                    
        </div>
        {{end}}
    </div>


</div>

<!--    footer-->
{{template "footer" .}}
{{template "script"}}

<!--顶部导航栏菜单按钮的显示与隐藏-->
<script>
    $('.m-menu').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


</script>
</body>
</html>