<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
{{template "header" .pagetitle}}
<body>


<!--导航-->
{{template "menu" .active}}


<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message">
        <div class="ui container  m-padded-tb-huge center aligned ">
            <h1>500</h1>
            <br>
            <h3>
                对不起，服务器出现错误。
            </h3>
        </div>
    </div>
</div>

<!--    footer-->
{{template "footer" .}}

</body>
</html>